.container-progresso {
    width: 500px; /* Ajuste a largura como desejar */
    height: 40px; /* Ajuste a altura como desejar */
    background-color: #e6e6e6; /* Cor de fundo do contêiner */
    border-radius: 5px; /* Arredonda os cantos */
    margin: 20px auto; /* Centraliza o contêiner na página */
}

.barra-progresso {
    width: 0; /* Largura inicial da barra */
    height: 100%; /* Altura total da barra */
    background-color: #ff0000; /* Cor inicial da barra (vermelho) */

    border-radius: 5px; /* Arredonda os cantos */
}

.barra-progresso.completo { /* Classe para quando a barra completa */
    background-color: #00ff00; /* Cor final da barra (verde) */
}